:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
}

/* Globales */
html {
    font-size: 62.5%;
    box-sizing: border-box; /* HAck para Box Model */
}
*,*:before,*:after {
    box-sizing: inherit;
}
body {
    font-size: 16px;/* 1rem = 10px */
    font-family: 'krub', sans-serif;
}

/* Tipografía */
h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 2.8rem;
}
h3 {
    font-size: 1.8rem;
}
h1, h2, h3 {
    text-align: center;
}

/* Títulos */
.titulo span {
    font-size: 2rem;
}